{# icon.njk - macro for inlining icons from src/images/icons/icon-<name>.svg #}
{%- macro icon(name, className='', title='') -%}
  {%- set file = "src/images/icons/icon-" + name + ".svg" -%}
  {%- if title and title | trim -%}
    <span class="{{ className }}" role="img" aria-label="{{ title }}">
      {% include file %}
    </span>
  {%- else -%}
    <span class="{{ className }}" aria-hidden="true">
      {% include file %}
    </span>
  {%- endif -%}
{%- endmacro -%}
