{# Modal component #}
{%- macro modal(id='modal', title='') -%}
  <div id="{{ id }}" class="modal">
    {% if title %}<h2>{{ title }}</h2>{% endif %}
    {{ caller() if caller }}
  </div>
{%- endmacro -%}
