{# Select component #}
{%- macro select(label='', name='', options=[]) -%}
  <div class="form-group">
    {% if label %}<label for="{{ name }}">{{ label }}</label>{% endif %}
    <select id="{{ name }}" name="{{ name }}">
      {% for option in options %}
        <option value="{{ option.value }}">{{ option.label }}</option>
      {% endfor %}
    </select>
  </div>
{%- endmacro -%}
