<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.njk" %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

</head>
<body class="font-sans">
  {% include "partials/header.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "partials/footer.njk" %}

  {% include "components/organisms/customize-modal.njk" %}
  {% include "components/organisms/book-modal.njk" %}

</body>

</body>
</html>