{%- macro tag(text="", icon="") -%}

<span class="tag">
  {% if icon %}
    <span class="tag__icon" aria-hidden="true">{{ icon | safe }}</span>
  {% endif %}
  <span class="tag__text">{{ text }}</span>
</span>

{%- endmacro -%}