/* Kota Travels Design Tokens */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root {
  /* Color Tokens - Kota Palette */
  --kota-dark-green: #2D7A78;
  --kota-light-green: #5FD3BC;
  --kota-blue: #7FD8D8;
  --kota-orange: #FF9F43;
  --kota-red: #FF5252;
  --kota-red-to-orange: #FF7A5C;
  --kota-grey: #6B7280;
  --kota-light-grey: #D1D5DB;
  --kota-white: #FFFFFF;
  --kota-black: #000000;
  --kota-light-orange: #FFB88C;
  --kota-light-light-green: #A8E6D9;
  --kota-light-dark-green: #6FB8AC;
  --kota-light-blue: #A8D8D8;
  --kota-include-green: #7FFF7F;
  --kota-include-red: #FF9999;
}

html { font-size: 16px; -webkit-font-smoothing: antialiased; }
body { font-family: "Outfit", system-ui; line-height: 1.5; color: var(--kota-black); background: var(--kota-white); }
.icon { display: inline-block; width: 1.25rem; height: 1.25rem; }
