/* ========================================
   TAILWIND LAYERS
======================================== */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ========================================
   FONTS
======================================== */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;600;700&display=swap');


/* ========================================
   DESIGN TOKENS (FIGMA VARIABLES)
======================================== */

@import "./design-tokens.css";


/* ========================================
   BASE STYLES
   Only global styles go here
======================================== */

@layer base {

  html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
  }

  body {
    font-family: var(--font-primary);
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: var(--line-normal);
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }

}


/* ========================================
   ATOMS
   Small reusable components
======================================== */

@import "./atoms/button.css";
@import "./atoms/tag.css";
@import "./atoms/input.css";
@import "./atoms/dropdown.css";



/* ========================================
   MOLECULES
   Larger components (later)
======================================== */
@import "./molecules/horizontal-card.css";


/*
@import "./molecules/card.css";
@import "./molecules/navbar.css";
*/


/* ========================================
   ORGANISMS
   Full sections (later)
======================================== */

/*
@import "./organisms/hero.css";
@import "./organisms/footer.css";
*/
