{%- macro horizontalCard(title="", text="", icon="") -%}

<div class="card-horizontal">
  {% if icon %}
    <div class="card-horizontal__icon-container" aria-hidden="true">
      {{ icon | safe }}
    </div>
  {% endif %}
  <div class="card-horizontal__content">
    <p class="card-horizontal__title">{{ title }}</p>
    <p class="card-horizontal__text">{{ text }}</p>
  </div>
</div>

{%- endmacro -%}