{%- macro verticalCard(title="", description="", icon="", accentColor="blue") -%}

<div class="card-vertical card-vertical--{{ accentColor }}">
  {% if icon %}
    <div class="card-vertical__icon-container" aria-hidden="true">{{ icon | safe }}</div>
  {% endif %}
  <h3 class="card-vertical__title">{{ title }}</h3>
  <p class="card-vertical__description">{{ description }}</p>
</div>

{%- endmacro -%}